body {
    /* background-color: #e4821a; */
    background-color: #f1e7a3;
}

* {
    /* font-family: 'Noto Sans JP' !important; */
    font-family: 'Heebo', sans-serif !important;
}
.jj{
    background-color: #d3edec;

}